<h1> Students </h1>
<h2>Average student age: <%=  @average_age.round(1) %> </h2><br>

<% @students.each do |student| %>
 <h3> <%=  student.name%> </h3><br>
  Age: <%=  student.age%><br>
  House: <%=  student.house%><br>
<% end %>

